/* 字体图标 */
.iconfont::before {
    padding-right: 8px;
}
/* 子菜单图标 */
.icon-pinglun::before {
    padding-left: 12px;
    padding-right: 8px;
}

/* 侧边栏头像div */
div.userinfo {
    height: 60px;
    text-align: center;
    line-height: 60px;
}

/* 字体头像 */
.text-avatar {
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    color: #fff;
    background-color: #419488;
    display: inline-block;
    border-radius: 50%;
}

/* 默认隐藏两个头像 */
.text-avatar, .layui-nav-img {
    display: none;
}

/* 内容区 */

/* 找到iframe的父级div，设置overflow:hidden */
.layui-body {
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}